<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LogDir"             value="D:\Projects\AxeGame Studios Collection\log" />
		<add key="LogLevel"           value="Dbg3" />
		<add key="Title"              value="AxeGame Studios Collection" />
		<add key="Width"              value="2560" />
		<add key="Height"             value="1440" />
		<add key="FullScreen"         value="false" />
		<add key="SoundEnabled"       value="true" />
		<add key="Debug"              value="false" />
		<!-- StartGameImmediate: None, ArenaChase, TankBattle, SubmarineWars -->
		<add key="StartGameImmediate" value="None" />
		<add key="LevelArenaChase"    value="1" />
		<add key="LevelTankBattle"    value="1" />
		<add key="LevelSubmarineWars" value="1" />
	</appSettings>
</configuration>